// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.infoBoxRowTitle {
    color: #382110;
    font-weight: bold;
    width: 25%;
    float: left;
    margin: 1px 0px;
}

.infoBoxRowItem {
    float: left;
    width: 75%;
    margin: 1px 0px;
}
